<div class="mt-4">
    <h3>Thêm </h3>
    <form method="post" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="name-input" placeholder="Name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <input type="text" name="description" class="form-control" id="description-input" placeholder="Mô tả">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Id video</label>
            <input type="text" name="videoId" class="form-control" id="videoId-input" placeholder="Id video">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input type="text" name="level" class="form-control" id="level-input" placeholder="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>